[Desktop Entry]
Name=Surfshark VPN GUI
GenericName=Surfshark
Terminal=false
Type=Application
Categories=Application
Icon=surfsharkgui
Exec=sudo surfsharkvpngui
StartupWMClass=surfsharkvpngui
X-Purism-FormFactor=Workstation;Mobile;
